<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
</head>

<body>

    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto"> 
                <div class="row">
                     <!-- Left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errImg">
                            <img src="Images/404.png"  alt="Nishant" class="img-fluid" title="CodeRanger">
                        </figure>
                   
                        <p>Welcome to CodeRanger</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer code -->

   {{>footer}}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
   
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</html>